/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/admin.scss */
html body #wpwrap {
  padding-top: 60px;
  box-sizing: border-box;
}
@media screen and (max-width: 780px) {
  /* line 8, ../sass/admin.scss */
  html body #wpwrap {
    padding-top: 46px;
  }
}
/* line 16, ../sass/admin.scss */
html body #wpwrap #footer-thankyou, html body #wpwrap #footer-upgrade, html body #wpwrap .updated, html body #wpwrap .update-nav, html body #wpwrap #robotsmessage, html body #wpwrap #metamessage, html body #wpwrap #welcome-panel {
  display: none !important;
}

/* line 21, ../sass/admin.scss */
#gf_dashboard_message {
  display: none;
}

/* line 25, ../sass/admin.scss */
html {
  position: relative;
  padding-top: 0 !important;
}

/* line 30, ../sass/admin.scss */
#background-image {
  position: fixed;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
/* line 48, ../sass/admin.scss */
#background-image img {
  width: 100%;
  height: auto;
}

/* line 55, ../sass/admin.scss */
.background--dark, .background--dark span, .background--dark a, .background--dark p {
  color: #fafafa !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9) !important;
  transition: all 300ms;
}
/* line 60, ../sass/admin.scss */
.background--dark .current, .background--dark span .current, .background--dark a .current, .background--dark p .current {
  color: #c0deff !important;
}
/* line 64, ../sass/admin.scss */
.background--dark .page-title-action, .background--dark .add-new-h2, .background--dark span .page-title-action, .background--dark span .add-new-h2, .background--dark a .page-title-action, .background--dark a .add-new-h2, .background--dark p .page-title-action, .background--dark p .add-new-h2 {
  color: #408ade !important;
  text-shadow: none !important;
}
/* line 67, ../sass/admin.scss */
.background--dark .page-title-action:hover, .background--dark .add-new-h2:hover, .background--dark span .page-title-action:hover, .background--dark span .add-new-h2:hover, .background--dark a .page-title-action:hover, .background--dark a .add-new-h2:hover, .background--dark p .page-title-action:hover, .background--dark p .add-new-h2:hover {
  color: #fff !important;
}

/* line 74, ../sass/admin.scss */
.background--light, .background--light span, .background--light a, .background--light p {
  color: #333 !important;
  transition: all 300ms;
}

/* line 80, ../sass/admin.scss */
.wp-admin {
  /*
  	#dashboard-widgets-wrap {
  		display: none;
  	}
  */
}
/* line 82, ../sass/admin.scss */
.wp-admin #wp-admin-bar-notes {
  display: none;
}
/* line 86, ../sass/admin.scss */
.wp-admin #contextual-help-link-wrap {
  display: none;
}
/* line 90, ../sass/admin.scss */
.wp-admin #welcome-panel {
  display: none;
}
@media screen and (max-width: 780px) {
  /* line 94, ../sass/admin.scss */
  .wp-admin #wpbody {
    padding-top: 0;
  }
}
/* line 100, ../sass/admin.scss */
.wp-admin .wrap {
  margin-top: 10px !important;
}
/* line 104, ../sass/admin.scss */
.wp-admin.auto-fold #adminmenu li a, .wp-admin.auto-fold #adminmenu a.menu-top {
  height: auto;
  font-size: inherit;
}
/* line 110, ../sass/admin.scss */
.wp-admin.auto-fold #adminmenu .wp-menu-name {
  display: block;
}
@media screen and (max-width: 960px) {
  /* line 110, ../sass/admin.scss */
  .wp-admin.auto-fold #adminmenu .wp-menu-name {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  /* line 110, ../sass/admin.scss */
  .wp-admin.auto-fold #adminmenu .wp-menu-name {
    display: block;
  }
}
/* line 126, ../sass/admin.scss */
.wp-admin #wpcontent .nes-tab-title {
  color: #408ade;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2em;
}
@media screen and (min-width: 960px) {
  /* line 124, ../sass/admin.scss */
  .wp-admin #wpcontent {
    margin-left: 160px;
  }
}
/* line 137, ../sass/admin.scss */
.wp-admin #wpcontent .nav-tab-wrapper {
  margin-bottom: 0;
  border-bottom: 6px solid #408ade;
}
/* line 141, ../sass/admin.scss */
.wp-admin #wpcontent .nav-tab-wrapper a {
  display: inline-block;
  vertical-align: bottom;
  padding: .5em 1.5em;
  margin-left: .25em;
  transition: all 300ms;
  background: #fafafa;
  border-color: #eee;
  opacity: .9;
}
/* line 151, ../sass/admin.scss */
.wp-admin #wpcontent .nav-tab-wrapper a:hover {
  opacity: 1;
}
/* line 155, ../sass/admin.scss */
.wp-admin #wpcontent .nav-tab-wrapper a.nav-tab-active {
  background: #408ade;
  color: #fff;
  border: none;
  margin-top: 1px;
}
/* line 176, ../sass/admin.scss */
.wp-admin.index-php #wpwrap {
  background: none;
}
/* line 179, ../sass/admin.scss */
.wp-admin.index-php #wpwrap #screen-options-link-wrap {
  display: none;
}
/* line 186, ../sass/admin.scss */
.wp-admin #collapse-menu {
  display: none;
}
/* line 190, ../sass/admin.scss */
.wp-admin #adminmenuback {
  background: none;
}
@media screen and (max-width: 780px) {
  /* line 190, ../sass/admin.scss */
  .wp-admin #adminmenuback {
    background: rgba(255, 255, 255, 0.9);
  }
}
@media screen and (max-width: 780px) {
  /* line 190, ../sass/admin.scss */
  .wp-admin #adminmenuback {
    width: 160px;
  }
}
/* line 203, ../sass/admin.scss */
.wp-admin #adminmenu {
  background: none;
}
@media screen and (max-width: 780px) {
  /* line 203, ../sass/admin.scss */
  .wp-admin #adminmenu {
    width: 160px;
    margin-top: 0;
  }
}
/* line 212, ../sass/admin.scss */
.wp-admin #adminmenuwrap {
  background: rgba(255, 255, 255, 0.9);
}
/* line 222, ../sass/admin.scss */
.wp-admin #adminmenu {
  text-align: center;
  transition: all 300ms;
}
/* line 227, ../sass/admin.scss */
.wp-admin #adminmenu li {
  border-bottom: 1px dotted #ccc;
  width: 80%;
  margin: 0 auto;
  padding: .5em 0;
}
/* line 235, ../sass/admin.scss */
.wp-admin #adminmenu li.current a:after {
  border: none;
}
/* line 240, ../sass/admin.scss */
.wp-admin #adminmenu li a {
  color: #666;
}
/* line 244, ../sass/admin.scss */
.wp-admin #adminmenu li .wp-submenu {
  top: 1.5em;
  left: -180px;
  background: #fff;
  opacity: 0;
  transition: left 500ms, opacity 500ms;
  padding: 0;
  z-index: -9999;
  position: absolute;
  display: block;
}
/* line 255, ../sass/admin.scss */
.wp-admin #adminmenu li .wp-submenu li {
  border: none;
  width: 100%;
  text-align: left;
  transition: all 300ms;
  box-sizing: border-box;
}
/* line 262, ../sass/admin.scss */
.wp-admin #adminmenu li .wp-submenu li.wp-submenu-head {
  color: #408ade !important;
  background: none !important;
  padding-top: 1em;
  border-bottom: 1px dotted #ccc;
}
/* line 269, ../sass/admin.scss */
.wp-admin #adminmenu li .wp-submenu li:hover {
  background: #ebf2f7 !important;
  border-left: 4px solid #dad3a3;
}
/* line 274, ../sass/admin.scss */
.wp-admin #adminmenu li .wp-submenu li a {
  width: 100%;
}
/* line 282, ../sass/admin.scss */
.wp-admin #adminmenu li.wp-not-current-submenu:hover .wp-submenu, .wp-admin #adminmenu li.hover .wp-submenu, .wp-admin #adminmenu li:hover .wp-submenu {
  left: 35px;
  opacity: 1;
  z-index: 9999;
}
@media screen and (min-width: 960px) {
  /* line 282, ../sass/admin.scss */
  .wp-admin #adminmenu li.wp-not-current-submenu:hover .wp-submenu, .wp-admin #adminmenu li.hover .wp-submenu, .wp-admin #adminmenu li:hover .wp-submenu {
    left: 130px;
  }
}
@media screen and (max-width: 780px) {
  /* line 282, ../sass/admin.scss */
  .wp-admin #adminmenu li.wp-not-current-submenu:hover .wp-submenu, .wp-admin #adminmenu li.hover .wp-submenu, .wp-admin #adminmenu li:hover .wp-submenu {
    left: 130px;
  }
}
/* line 301, ../sass/admin.scss */
.wp-admin #adminmenu li.wp-has-current-submenu .wp-submenu {
  background: #fff;
}
/* line 304, ../sass/admin.scss */
.wp-admin #adminmenu li.wp-has-current-submenu .wp-submenu li.current a {
  color: #408ade;
}
@media screen and (min-width: 780px) and (max-width: 960px) {
  /* line 310, ../sass/admin.scss */
  .wp-admin #adminmenu li.wp-has-current-submenu .wp-submenu {
    left: -160px;
    box-shadow: 1px 2px 5px #ccc;
  }
}
@media screen and (min-width: 960px), (max-width: 780px) {
  /* line 299, ../sass/admin.scss */
  .wp-admin #adminmenu li.wp-has-current-submenu {
    width: 100%;
    background: #fff !important;
    border: none;
  }
  /* line 322, ../sass/admin.scss */
  .wp-admin #adminmenu li.wp-has-current-submenu .wp-submenu {
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    background: none;
    opacity: 1;
    transition: all 300ms;
    padding: 0;
    z-index: 9999;
    display: block;
    position: relative;
  }
  /* line 338, ../sass/admin.scss */
  .wp-admin #adminmenu li.wp-has-current-submenu .wp-submenu li {
    border: none;
    width: 100%;
    text-align: center;
    transition: all 300ms;
    box-sizing: border-box;
    padding: 0;
  }
  /* line 346, ../sass/admin.scss */
  .wp-admin #adminmenu li.wp-has-current-submenu .wp-submenu li:hover {
    background: #c7dae8 !important;
  }
  /* line 349, ../sass/admin.scss */
  .wp-admin #adminmenu li.wp-has-current-submenu .wp-submenu li:hover a {
    color: #fff;
  }
  /* line 354, ../sass/admin.scss */
  .wp-admin #adminmenu li.wp-has-current-submenu .wp-submenu li a {
    width: auto;
    padding: .5em 0;
  }
}
/* line 368, ../sass/admin.scss */
.wp-admin #adminmenu li.current, .wp-admin #adminmenu li:hover, .wp-admin #adminmenu li.hover, .wp-admin #adminmenu li.opensub, .wp-admin #adminmenu li.wp-has-current-submenu {
  background: none;
}
/* line 374, ../sass/admin.scss */
.wp-admin #adminmenu li.current .wp-menu-arrow, .wp-admin #adminmenu li:hover .wp-menu-arrow, .wp-admin #adminmenu li.hover .wp-menu-arrow, .wp-admin #adminmenu li.opensub .wp-menu-arrow, .wp-admin #adminmenu li.wp-has-current-submenu .wp-menu-arrow {
  display: none !important;
}
/* line 378, ../sass/admin.scss */
.wp-admin #adminmenu li.current > a, .wp-admin #adminmenu li:hover > a, .wp-admin #adminmenu li.hover > a, .wp-admin #adminmenu li.opensub > a, .wp-admin #adminmenu li.wp-has-current-submenu > a {
  background: none !important;
  color: #408ade;
}
/* line 382, ../sass/admin.scss */
.wp-admin #adminmenu li.current > a:after, .wp-admin #adminmenu li:hover > a:after, .wp-admin #adminmenu li.hover > a:after, .wp-admin #adminmenu li.opensub > a:after, .wp-admin #adminmenu li.wp-has-current-submenu > a:after {
  border: none;
}
/* line 386, ../sass/admin.scss */
.wp-admin #adminmenu li.current > a #toplevel_page_fs-settings .menu-icon-generic div.wp-menu-image:before, .wp-admin #adminmenu li.current > a #toplevel_page_woocommerce .menu-icon-generic div.wp-menu-image:before, .wp-admin #adminmenu li.current > a #toplevel_page_cps-settings .menu-icon-generic div.wp-menu-image:before, .wp-admin #adminmenu li.current > a .dashicons, .wp-admin #adminmenu li.current > a .dashicons-before:before, .wp-admin #adminmenu li:hover > a #toplevel_page_fs-settings .menu-icon-generic div.wp-menu-image:before, .wp-admin #adminmenu li:hover > a #toplevel_page_woocommerce .menu-icon-generic div.wp-menu-image:before, .wp-admin #adminmenu li:hover > a #toplevel_page_cps-settings .menu-icon-generic div.wp-menu-image:before, .wp-admin #adminmenu li:hover > a .dashicons, .wp-admin #adminmenu li:hover > a .dashicons-before:before, .wp-admin #adminmenu li.hover > a #toplevel_page_fs-settings .menu-icon-generic div.wp-menu-image:before, .wp-admin #adminmenu li.hover > a #toplevel_page_woocommerce .menu-icon-generic div.wp-menu-image:before, .wp-admin #adminmenu li.hover > a #toplevel_page_cps-settings .menu-icon-generic div.wp-menu-image:before, .wp-admin #adminmenu li.hover > a .dashicons, .wp-admin #adminmenu li.hover > a .dashicons-before:before, .wp-admin #adminmenu li.opensub > a #toplevel_page_fs-settings .menu-icon-generic div.wp-menu-image:before, .wp-admin #adminmenu li.opensub > a #toplevel_page_woocommerce .menu-icon-generic div.wp-menu-image:before, .wp-admin #adminmenu li.opensub > a #toplevel_page_cps-settings .menu-icon-generic div.wp-menu-image:before, .wp-admin #adminmenu li.opensub > a .dashicons, .wp-admin #adminmenu li.opensub > a .dashicons-before:before, .wp-admin #adminmenu li.wp-has-current-submenu > a #toplevel_page_fs-settings .menu-icon-generic div.wp-menu-image:before, .wp-admin #adminmenu li.wp-has-current-submenu > a #toplevel_page_woocommerce .menu-icon-generic div.wp-menu-image:before, .wp-admin #adminmenu li.wp-has-current-submenu > a #toplevel_page_cps-settings .menu-icon-generic div.wp-menu-image:before, .wp-admin #adminmenu li.wp-has-current-submenu > a .dashicons, .wp-admin #adminmenu li.wp-has-current-submenu > a .dashicons-before:before {
  color: #408ade !important;
}
/* line 399, ../sass/admin.scss */
.wp-admin #adminmenu #menu-pages, .wp-admin #adminmenu #menu-posts-staff, .wp-admin #adminmenu #menu-posts-faqs, .wp-admin #adminmenu #menu-posts-student_groups, .wp-admin #adminmenu #menu-posts-gf_edit_forms, .wp-admin #adminmenu #menu-posts, .wp-admin #adminmenu #menu-posts-products, .wp-admin #adminmenu #toplevel_page_gf_edit_forms {
  display: none;
}
@media screen and (max-width: 780px) {
  /* line 399, ../sass/admin.scss */
  .wp-admin #adminmenu #menu-pages, .wp-admin #adminmenu #menu-posts-staff, .wp-admin #adminmenu #menu-posts-faqs, .wp-admin #adminmenu #menu-posts-student_groups, .wp-admin #adminmenu #menu-posts-gf_edit_forms, .wp-admin #adminmenu #menu-posts, .wp-admin #adminmenu #menu-posts-products, .wp-admin #adminmenu #toplevel_page_gf_edit_forms {
    display: block;
  }
}
/* line 409, ../sass/admin.scss */
.wp-admin #adminmenu #toplevel_page_fs-settings .menu-icon-generic div.wp-menu-image:before, .wp-admin #adminmenu #toplevel_page_woocommerce .menu-icon-generic div.wp-menu-image:before, .wp-admin #adminmenu #toplevel_page_cps-settings .menu-icon-generic div.wp-menu-image:before {
  font-size: 20px !important;
  color: #666;
  text-align: center;
}
/* line 415, ../sass/admin.scss */
.wp-admin #adminmenu .wp-menu-image {
  width: 100% !important;
  height: 20px !important;
  float: none;
  position: relative !important;
  display: block;
}
/* line 422, ../sass/admin.scss */
.wp-admin #adminmenu .wp-menu-image.dashicons, .wp-admin #adminmenu .wp-menu-image.dashicons-before:before {
  font-size: 20px !important;
  color: #666;
}
/* line 428, ../sass/admin.scss */
.wp-admin #adminmenu .wp-menu-name {
  text-align: center;
  width: 100%;
  float: none;
  position: relative;
  left: auto;
  margin: 0;
}
/* line 439, ../sass/admin.scss */
.wp-admin #screen-meta {
  background: rgba(255, 255, 255, 0.8);
}
/* line 443, ../sass/admin.scss */
.wp-admin #screen-meta-links {
  opacity: .6;
  transition: opacity 300ms;
}
/* line 446, ../sass/admin.scss */
.wp-admin #screen-meta-links:hover {
  opacity: 1;
}
/* line 451, ../sass/admin.scss */
.wp-admin .wp-list-table {
  background: rgba(255, 255, 255, 0.8);
}
/* line 454, ../sass/admin.scss */
.wp-admin .wp-list-table thead {
  background: rgba(255, 255, 255, 0.9) !important;
}
/* line 458, ../sass/admin.scss */
.wp-admin .wp-list-table .alternate, .wp-admin .wp-list-table.striped > tbody > :nth-child(odd), .wp-admin .wp-list-table ul.striped > :nth-child(odd) {
  background: rgba(255, 255, 255, 0.6) !important;
}
/* line 464, ../sass/admin.scss */
.wp-admin ul.striped > :nth-child(odd) {
  background: #fff;
}
/* line 468, ../sass/admin.scss */
.wp-admin .wrap {
  padding: 1em;
  box-sizing: border-box;
  margin-top: 40px;
}
/* line 474, ../sass/admin.scss */
.wp-admin .wrap > h1:first-child {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5em;
}
/* line 479, ../sass/admin.scss */
.wp-admin .wrap > h1:first-child a {
  transition: all 300ms;
}
/* line 485, ../sass/admin.scss */
.wp-admin .tablenav.top {
  margin-bottom: 1em;
}
/* line 489, ../sass/admin.scss */
.wp-admin .subsubsub {
  font-size: 1.1em;
  font-weight: 600;
}

/* line 504, ../sass/admin.scss */
#available-widgets .sidebar-name {
  display: none;
}

/* line 509, ../sass/admin.scss */
#edit-slug-box {
  margin-bottom: 1em;
}

/* line 513, ../sass/admin.scss */
#postdivrich {
  box-sizing: border-box;
  border: 6px solid rgba(255, 255, 255, 0.9);
}

/* line 518, ../sass/admin.scss */
.attachment-preview {
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  transition: all 300ms;
}
/* line 523, ../sass/admin.scss */
.attachment-preview:hover {
  border-color: rgba(64, 138, 222, 0.5);
}

/* line 530, ../sass/admin.scss */
li.attachment:focus {
  outline: none;
  box-shadow: 0 !important;
}

/* line 536, ../sass/admin.scss */
#drag-drop-area {
  background: rgba(0, 0, 0, 0.4);
}

/* line 540, ../sass/admin.scss */
#html-upload-ui {
  padding: 1em;
  background: rgba(255, 255, 255, 0.9);
}

/* line 545, ../sass/admin.scss */
#wpfooter {
  display: none;
}

/* line 551, ../sass/admin.scss */
#nes-settings-wrap {
  width: 100%;
  padding: 2em;
  padding-top: 1em;
  box-sizing: border-box;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
  float: none;
}

/* line 561, ../sass/admin.scss */
#nes-shortcode, #fs-shortcode {
  display: inline-block;
  padding: 5px;
  background: rgba(255, 255, 255, 0.9);
}

/* line 568, ../sass/admin.scss */
.edit-tags-php #col-left {
  box-sizing: border-box;
  padding: 1em;
  background: rgba(255, 255, 255, 0.9);
}
/* line 573, ../sass/admin.scss */
.edit-tags-php #col-left h2 {
  color: #408ade;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.5em;
}

/* line 585, ../sass/admin.scss */
.nessie_page_nes-import-export .nes-main-wrap hr {
  display: none;
}
/* line 586, ../sass/admin.scss */
.nessie_page_nes-import-export .nes-main-wrap div {
  margin-bottom: 1px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9);
  padding: 2em;
  padding-top: 1em;
}
/* line 593, ../sass/admin.scss */
.nessie_page_nes-import-export .nes-main-wrap div h3 {
  color: #408ade;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.5em;
}

/* line 607, ../sass/admin.scss */
.wp-admin .woocommerce .woo-nav-tab-wrapper {
  margin-bottom: 0 !important;
}

/* line 615, ../sass/admin.scss */
.woocommerce .wc_emails_wrapper {
  padding: 0 1em !important;
}
/* line 619, ../sass/admin.scss */
.woocommerce .subsubsub {
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 1em 0;
}
/* line 628, ../sass/admin.scss */
.woocommerce #log-viewer-select {
  padding: 1em 2em;
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
}
/* line 636, ../sass/admin.scss */
.woocommerce #mainform h3, .woocommerce #mainform p, .woocommerce #mainform .form-table {
  margin: 0;
  padding: 1em 2em;
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
}
/* line 643, ../sass/admin.scss */
.woocommerce #mainform h3 {
  color: #408ade;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2em;
  padding: 1em;
}
/* line 653, ../sass/admin.scss */
.woocommerce #mainform .form-table .titledesc {
  padding-left: 2em;
}
/* line 656, ../sass/admin.scss */
.woocommerce #mainform .form-table .forminp {
  padding-right: 2em;
}

/* line 665, ../sass/admin.scss */
#fs-settings-wrap, #cps-settings-wrap {
  padding: 1em 2em 2em;
  background: rgba(255, 255, 255, 0.9);
  overflow: hidden;
}

/* Header Type Tabs */
/* line 675, ../sass/admin.scss */
#acf-group_576034c7a8bb3 {
  margin-top: 80px !important;
}

/* line 679, ../sass/admin.scss */
#acf-group_576034c7a8bb3 .inside {
  background: rgba(255, 255, 255, 0.9);
  margin: 0 !important;
  padding: 1em !important;
}

/* line 685, ../sass/admin.scss */
#acf-group_576034c7a8bb3 .acf-tab-wrap {
  position: absolute;
  top: -48px;
  margin: 0 !important;
}

/* line 691, ../sass/admin.scss */
#acf-group_576034c7a8bb3 .acf-tab-wrap ul li.active a {
  background: rgba(255, 255, 255, 0.9);
}

/* Content Row Styles  */
/* line 697, ../sass/admin.scss */
#acf-group_56a123dcb3a05 ul.acf-actions.acf-hl {
  padding: 1em;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}

/* ACF Modal styles for Flex Content */
/* line 704, ../sass/admin.scss */
.acf-content-rows .acf-fields .layout .open-modal {
  top: 60px;
}
/* line 706, ../sass/admin.scss */
.acf-content-rows .acf-fields .layout .open-modal .acf-field-description {
  top: 60px;
}
/* line 710, ../sass/admin.scss */
.acf-content-rows .acf-fields .layout .open-modal .acf-flex-modal-close {
  top: 70px;
}

/* line 715, ../sass/admin.scss */
#wp-admin-bar-wpseo-menu {
  display: none;
}

@media screen and (max-width: 1440px) {
  /* line 719, ../sass/admin.scss */
  #wp-admin-bar-top-secondary {
    display: none;
  }
}
