/* line 8, ../sass/global.scss */
.logged-in #wpadminbar .ab-top-menu > li:hover > .ab-item {
  color: #fff;
  background: #526a85;
}
/* line 12, ../sass/global.scss */
.logged-in #wpadminbar .ab-top-menu > li:hover > .ab-item > i {
  color: #00b9eb;
}
/* line 18, ../sass/global.scss */
.logged-in #wpadminbar .ab-top-menu > li .ab-item {
  color: #fff;
  padding: 0 14px;
  text-transform: uppercase;
  transition: all 300ms;
}
@media screen and (max-width: pem(1150)) {
  /* line 18, ../sass/global.scss */
  .logged-in #wpadminbar .ab-top-menu > li .ab-item {
    font-size: 0.6em;
  }
}
/* line 28, ../sass/global.scss */
.logged-in #wpadminbar .ab-top-menu > li .ab-item i {
  color: #a0a5aa;
  color: rgba(240, 245, 250, 0.6);
  margin-right: 5px;
  font: normal normal normal 14px/1 "Black Tie";
}
/* line 36, ../sass/global.scss */
.logged-in #wpadminbar .ab-top-menu > li .ab-sub-wrapper {
  background: #526a85;
}
/* line 39, ../sass/global.scss */
.logged-in #wpadminbar .ab-top-menu > li .ab-sub-wrapper i {
  color: #fff;
}

/* line 50, ../sass/global.scss */
.wp-admin #wpadminbar {
  height: 60px;
  position: fixed;
  background: rgba(68, 68, 68, 0.95);
  color: #fff;
  font-size: 1em;
  box-shadow: 0 1px 2px #000;
}
/* line 60, ../sass/global.scss */
.wp-admin #wpadminbar li#wp-admin-bar-menu-toggle {
  opacity: .6;
  transition: opacity 300ms;
}
/* line 64, ../sass/global.scss */
.wp-admin #wpadminbar li#wp-admin-bar-menu-toggle:hover {
  opacity: .9;
}
/* line 69, ../sass/global.scss */
.wp-admin #wpadminbar li.bc-wl-dash-logo {
  padding-top: 5px;
  padding-left: 5px;
}
@media screen and (max-width: 780px) {
  /* line 73, ../sass/global.scss */
  .wp-admin #wpadminbar li.bc-wl-dash-logo img {
    max-height: 40px;
  }
}
/* line 80, ../sass/global.scss */
.wp-admin #wpadminbar li a.ab-item {
  padding: 14px;
  color: #fff !important;
  text-transform: uppercase;
  transition: all 300ms;
}
/* line 86, ../sass/global.scss */
.wp-admin #wpadminbar li a.ab-item i {
  margin-right: 5px;
  color: #a0a5aa;
  color: rgba(240, 245, 250, 0.6);
  font: normal normal normal 14px/1 "Black Tie";
}
/* line 93, ../sass/global.scss */
.wp-admin #wpadminbar li a.ab-item span, .wp-admin #wpadminbar li a.ab-item span:before, .wp-admin #wpadminbar li a.ab-item span:after {
  color: #fff !important;
  text-transform: uppercase;
}
/* line 99, ../sass/global.scss */
.wp-admin #wpadminbar li:hover, .wp-admin #wpadminbar li.hover {
  background: none !important;
}
/* line 103, ../sass/global.scss */
.wp-admin #wpadminbar li:hover a.ab-item, .wp-admin #wpadminbar li.hover a.ab-item {
  background: #526a85 !important;
  color: #fff !important;
}
/* line 107, ../sass/global.scss */
.wp-admin #wpadminbar li:hover a.ab-item span, .wp-admin #wpadminbar li:hover a.ab-item span:before, .wp-admin #wpadminbar li:hover a.ab-item span:after, .wp-admin #wpadminbar li.hover a.ab-item span, .wp-admin #wpadminbar li.hover a.ab-item span:before, .wp-admin #wpadminbar li.hover a.ab-item span:after {
  color: #fff !important;
}
/* line 111, ../sass/global.scss */
.wp-admin #wpadminbar li:hover a.ab-item i, .wp-admin #wpadminbar li.hover a.ab-item i {
  color: #00b9eb;
}
/* line 117, ../sass/global.scss */
.wp-admin #wpadminbar li:hover ul, .wp-admin #wpadminbar li.hover ul {
  background: #526a85 !important;
  color: #fff !important;
}
/* line 121, ../sass/global.scss */
.wp-admin #wpadminbar li:hover ul a, .wp-admin #wpadminbar li.hover ul a {
  padding: .5em 14px .5em  14px;
  text-transform: none;
}
/* line 124, ../sass/global.scss */
.wp-admin #wpadminbar li:hover ul a:hover, .wp-admin #wpadminbar li.hover ul a:hover {
  background: #3f5165 !important;
}
/* line 131, ../sass/global.scss */
.wp-admin #wpadminbar li:hover.bc-wl-dash-logo, .wp-admin #wpadminbar li.hover.bc-wl-dash-logo {
  background: none !important;
}
/* line 133, ../sass/global.scss */
.wp-admin #wpadminbar li:hover.bc-wl-dash-logo a, .wp-admin #wpadminbar li.hover.bc-wl-dash-logo a {
  background: none !important;
}
/* line 140, ../sass/global.scss */
.wp-admin #wpadminbar #wp-admin-bar-wp-logo {
  display: block;
  padding: 4px;
}
/* line 144, ../sass/global.scss */
.wp-admin #wpadminbar #wp-admin-bar-wp-logo a.ab-item {
  padding: 10px;
}
/* line 148, ../sass/global.scss */
.wp-admin #wpadminbar #wp-admin-bar-wp-logo #admin-bar-logo {
  max-height: 30px;
  width: auto;
}
