/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
 
@import "compass";

html body #wpwrap {
	padding-top:60px;
	box-sizing:border-box;

	@media screen and (max-width: 780px) {
		padding-top: 46px;
	}

	#footer-thankyou, #footer-upgrade, .updated, .update-nav, #robotsmessage, #metamessage, #welcome-panel {
		display: none !important;
	}
}

#gf_dashboard_message {
	display: none;
}

html {
	position: relative;
	padding-top: 0 !important;
}

#background-image {
	position: fixed;
	background-size: cover;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	opacity: 0.2;

	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);	
	
	img {
		width: 100%;
		height: auto;
	}
	
}

.background--dark, .background--dark span, .background--dark a, .background--dark p {
	color: #fafafa !important;
	text-shadow: 0 1px 1px rgba(#000, .9) !important;	
	transition: all 300ms;
	
	.current {
		color: #c0deff !important;
	}
	
	.page-title-action, .add-new-h2 {
		color: #408ade !important;
		text-shadow: none !important;
		&:hover {
			color: #fff !important;
		}
	}	
	
}

.background--light, .background--light span, .background--light a, .background--light p {
	color: #333 !important;
	//text-shadow: 0 1px 1px rgba(#000, .5) !important;	
	transition: all 300ms;
}

.wp-admin {
	
	#wp-admin-bar-notes{
		display:none;
	}

	#contextual-help-link-wrap {
		display: none;
	}
	
	#welcome-panel {
		display: none;
	}
	
	#wpbody {
		@media screen and (max-width: 780px) {
			padding-top: 0;
		}
	}
	
	.wrap {
		margin-top: 10px !important;
	}
	
	&.auto-fold #adminmenu li a, &.auto-fold #adminmenu a.menu-top {
		height: auto;
		font-size: inherit;
		//padding: 0;
	}
	
	&.auto-fold #adminmenu .wp-menu-name {
		
		display: block;
		
		@media screen and (max-width: 960px) {	
			display: none;
		}

		@media screen and (max-width: 780px) {	
			display: block;
		}		
		
	}
	
	#wpcontent {
		
		.nes-tab-title {
			color: #408ade;
			font-weight: 300;
			text-transform: uppercase;
			font-size: 2em;
		}
		
		@media screen and (min-width: 960px) {	
			margin-left: 160px;
		}
		
		.nav-tab-wrapper {
			margin-bottom: 0;
			border-bottom: 6px solid #408ade;
			
			a {
				display: inline-block;
				vertical-align: bottom;
				padding: .5em 1.5em;
				margin-left: .25em;
				transition: all 300ms;
				background: #fafafa;
				border-color: #eee;
				opacity: .9;
				
				&:hover {
					opacity: 1;
				}
				
				&.nav-tab-active {
					background: #408ade;
					color: #fff;
					border: none;
					margin-top: 1px;
					
				}
				
			}
			
		}
		
	}
	
	// #wpwrap {
	// 	background: rgba(#369, .1);
	// }
	
	&.index-php {
		
		
		#wpwrap {
			background: none;
			
			#screen-options-link-wrap {
				display: none;
			}
			
		}
	}
		
	#collapse-menu {
		display: none;
	}
	
	#adminmenuback {
		background: none;
		
		@media screen and (max-width: 780px) {
			background: rgba(#fff, .9);
		}
		
		@media screen and (max-width: 780px) {
			width: 160px;
		}
		
	}
	
	#adminmenu {
		background: none;
		
		@media screen and (max-width: 780px) {
			width: 160px;
			margin-top: 0;
		}
	}

	#adminmenuwrap {
		background: rgba(#fff,.9);
	}
	
/*
	#dashboard-widgets-wrap {
		display: none;
	}
*/
	
	#adminmenu {
		
		text-align: center;
		transition: all 300ms;
		
		li {
			
			border-bottom: 1px dotted #ccc;
			width: 80%;
			margin: 0 auto;
			padding: .5em 0;
			
			&.current {
				a:after {
					border: none;
				}
			}
			
			a {
				color: #666;				
			}
			
			.wp-submenu {
				top: 1.5em;
				left: -180px;
				background: #fff;
				opacity: 0;
				transition: left 500ms, opacity 500ms;
				padding: 0;
				z-index: -9999;
				position: absolute;
				display: block;
				
				li {
					border: none;
					width: 100%;
					text-align: left;
					transition: all 300ms;
					box-sizing: border-box;
					
					&.wp-submenu-head {
						color: #408ade !important;
						background: none !important;
						padding-top: 1em;
						border-bottom: 1px dotted #ccc;
					}
					
					&:hover {
						background: #ebf2f7 !important;
						border-left: 4px solid #dad3a3
					}
					
					a {						
						width: 100%;										
					}
				}
				
			}
			
			&.wp-not-current-submenu:hover, &.hover, &:hover {
				.wp-submenu {
					
					left: 35px;
					opacity: 1;
					z-index: 9999;
					
					@media screen and (min-width: 960px) {	
						left: 130px;
					}
					
					@media screen and (max-width: 780px) {
						left: 130px;
					}
					
				}
			}
			
			&.wp-has-current-submenu {
				
				.wp-submenu { 
					background: #fff;	

					li.current a {
						color: #408ade;						
					}				
				}
				
				@media screen and (min-width: 780px) and (max-width: 960px) { 
					.wp-submenu {
						left: -160px;
						box-shadow: 1px 2px 5px #ccc;
					}	
				}
				
				
				@media screen and (min-width: 960px), (max-width: 780px) {	
					width: 100%;
					background: #fff !important;
					border: none;
					
					.wp-submenu {
												
							top: auto;
							left: auto;
							right: auto;
							bottom: auto;
							background: none;
							opacity: 1;
							transition: all 300ms;
							padding: 0;
							z-index: 9999;
							display: block;
							position: relative;
						
						
						
						li {
							border: none;
							width: 100%;
							text-align: center;
							transition: all 300ms;
							box-sizing: border-box;
							padding: 0;
							
							&:hover {
								background: darken(#ebf2f7, 10) !important;
								//border-left: 4px solid #dad3a3
								a {
									color: #fff;
								}
							}
							
							a {
								
								width: auto;
								padding: .5em 0;
																		
							}
						}
						
					}	
				
				}			
				
			}
			
			&.current, &:hover, &.hover, &.opensub, &.wp-has-current-submenu {
				
				
				background: none;
				
				
				.wp-menu-arrow {
					display: none !important;
				}
				
				>a {
					background: none !important;
					color: #408ade;
					
					&:after {
						border: none;
					}
					
					#toplevel_page_fs-settings .menu-icon-generic div.wp-menu-image:before, #toplevel_page_woocommerce .menu-icon-generic div.wp-menu-image:before, #toplevel_page_cps-settings .menu-icon-generic div.wp-menu-image:before, .dashicons, .dashicons-before:before {
						
						color: #408ade !important;
						
					}
					
				}
			}
			
		}
		
		
		
		#menu-pages, #menu-posts-staff, #menu-posts-faqs, #menu-posts-student_groups, #menu-posts-gf_edit_forms, #menu-posts, #menu-posts-products, #toplevel_page_gf_edit_forms {
			
			display: none;	
			
			@media screen and (max-width: 780px) {
				display: block;
			}
					
		}	
			
		#toplevel_page_fs-settings .menu-icon-generic div.wp-menu-image:before, #toplevel_page_woocommerce .menu-icon-generic div.wp-menu-image:before, #toplevel_page_cps-settings .menu-icon-generic div.wp-menu-image:before {
			font-size: 20px !important;
			color: #666;
			text-align: center;
		}
				
		.wp-menu-image {
			width: 100% !important;
			height: 20px !important;
			float: none;
			position: relative !important;
			display: block;
			
			&.dashicons, &.dashicons-before:before {
				font-size: 20px !important;
				color: #666;
			}
		}		
		
		.wp-menu-name {
			text-align: center;
			width: 100%;
			float: none;
			position: relative;
			left: auto;
			margin: 0;
		}
		
	}
	
	#screen-meta {
		background: rgba(#fff, .8);
	}
	
	#screen-meta-links {
		opacity: .6;
		transition: opacity 300ms;
		&:hover {
			opacity: 1;
		}
	}
	
	.wp-list-table {
		background: rgba(#fff, .8);
		
		thead {
			background: rgba(#fff, .9) !important;
		}
		
		.alternate, &.striped>tbody>:nth-child(odd), ul.striped>:nth-child(odd) {
			background: rgba(#fff, .6) !important;
		}
		
	}
		
	ul.striped>:nth-child(odd) {
		background: #fff;
	}
	
	.wrap {
		
		padding: 1em;
		box-sizing: border-box;
		margin-top: 40px;
	
		&>h1:first-child {
			text-transform: uppercase;
			font-weight: 600;
			font-size: 2.5em;
			
			a {
				transition: all 300ms;
			}
		}
	}
	
	.tablenav.top {
		margin-bottom: 1em;
	}
	
	.subsubsub {
		font-size: 1.1em;
		font-weight: 600;
		
		.count {
		}
		
		a {

		}
	}
	
}

#available-widgets {
	.sidebar-name {
		display: none;
	}
}

#edit-slug-box {
	margin-bottom: 1em;
}

#postdivrich {
	box-sizing: border-box;
	border: 6px solid rgba(#fff, .9);
}

.attachment-preview {
	border: 1px solid rgba(#fff, .25);
	box-sizing: border-box;
	transition: all 300ms;
	
	&:hover {
		border-color: rgba(#408ade, .5)
	}

}

li.attachment {
	&:focus {
		outline: none;
		box-shadow: 0 !important;
	}	
}

#drag-drop-area {
	background: rgba(#000, .4);
}

#html-upload-ui {
	padding: 1em;
	background: rgba(#fff, .9);
}

#wpfooter {
	display: none;
}

//Nessie Specific Styles

#nes-settings-wrap {
	width: 100%;
	padding: 2em;
	padding-top: 1em;
	box-sizing: border-box;
	overflow: hidden;
	background: rgba(#fff, .9);
	float: none;
}

#nes-shortcode, #fs-shortcode {
	display: inline-block;
	padding: 5px;
	background: rgba(#fff, .9);
}

.edit-tags-php {
	#col-left {
		box-sizing: border-box;
		padding: 1em;
		background: rgba(#fff, .9);
		
		h2 {
			color: #408ade;
			font-weight: 300;
			text-transform: uppercase;			
			font-size: 1.5em;
		}
		
	}
}

.nessie_page_nes-import-export {
	.nes-main-wrap {
		hr {display: none;}
		div {
			margin-bottom: 1px;
			box-sizing: border-box;
			background: rgba(#fff, .9);
			padding: 2em;
			padding-top: 1em;
			
			h3 {
				color: #408ade;
				font-weight: 300;
				text-transform: uppercase;
				font-size: 1.5em;
			}
		}
	}
}

// WooCommerce Styles

.wp-admin {	
	.woocommerce {
		.woo-nav-tab-wrapper {
			margin-bottom: 0 !important;
		}
	}
}

.woocommerce {
	
	.wc_emails_wrapper {
		padding: 0 1em !important;	
	}
	
	.subsubsub {
		display: block;
		box-sizing: border-box;
		width: 100%;
		text-align: left;
		padding: 1em 0;
		
	}
	
	#log-viewer-select {
		padding: 1em 2em;
		background: rgba(#fff, .9);
		box-sizing:border-box;			
	}
	
	#mainform {
		
		h3, p, .form-table {
			margin: 0;
			padding: 1em 2em;
			background: rgba(#fff, .9);
			box-sizing:border-box;			
		}
		
		h3 {
			color: #408ade;
			font-weight: 300;
			text-transform: uppercase;
			font-size: 2em;
			padding: 1em;
		}
		
		.form-table {
			
			.titledesc {
				padding-left: 2em;
			}
			.forminp {
				padding-right: 2em;
			}
		}
	}
}

// Funding Serious

#fs-settings-wrap, #cps-settings-wrap {
	padding: 1em 2em 2em;
	background: rgba(#fff, .9);
	overflow: hidden;
}

// ACF Styles

/* Header Type Tabs */

#acf-group_576034c7a8bb3 {
	margin-top: 80px !important;
}

#acf-group_576034c7a8bb3 .inside {
	background: rgba(255,255,255,.9);
	margin: 0 !important;
	padding: 1em !important;
}

#acf-group_576034c7a8bb3 .acf-tab-wrap {
	position: absolute;
	top: -48px;
	margin: 0 !important;
}

#acf-group_576034c7a8bb3 .acf-tab-wrap ul li.active a {
	background: rgba(255,255,255, .9);
}

/* Content Row Styles  */

#acf-group_56a123dcb3a05 ul.acf-actions.acf-hl {
	padding: 1em;
	background: rgba(255, 255, 255, .7);
	border-radius: 3px;
}

/* ACF Modal styles for Flex Content */
.acf-content-rows .acf-fields .layout .open-modal {
	top: 60px;
	 .acf-field-description {
		top: 60px;
	}
	
	.acf-flex-modal-close {
		top: 70px;
	}
}

#wp-admin-bar-wpseo-menu {
	display: none;
}

#wp-admin-bar-top-secondary {
	@media screen and (max-width: 1440px) {
		display: none;
	}
}