// frontend
.logged-in{
	#wpadminbar{
		.ab-top-menu{	

			>li{
				&:hover{
					>.ab-item{
						color:#fff;
						background: #526a85;

						>i {
							color: #00b9eb;
						}
					}
				}	

				.ab-item {
					color:#fff;
					padding:0 14px;
					text-transform: uppercase;
					transition: all 300ms;			

					@media screen and (max-width: pem(1150)){
						font-size: 0.6em;
					}

					i{
						color: #a0a5aa;
		    			color: rgba(240,245,250,0.6);
						margin-right:5px;
						font: normal normal normal 14px/1 "Black Tie";
					}
				}	

				.ab-sub-wrapper{
					background: #526a85;

					i {
						color:#fff;
					}
				}
			}
		}
	}
}

//backend
.wp-admin{
	#wpadminbar{
		height:60px;
		position: fixed;
		background: rgba(#444, .95);
		color: #fff;
		font-size: 1em;
		box-shadow: 0 1px 2px #000;
		
		li {
			
			&#wp-admin-bar-menu-toggle {
				opacity: .6;
				transition: opacity 300ms;
				
				&:hover {
					opacity: .9;
				}
			}
			
			&.bc-wl-dash-logo {
				padding-top: 5px;
				padding-left: 5px;
				
				img {
					@media screen and (max-width: 780px) {
						max-height: 40px;
					}
				}
			}
			
			a.ab-item {
				padding:14px;
				color: #fff !important;
				text-transform: uppercase;
				transition: all 300ms;
				
				i {
					margin-right:5px;
					color: #a0a5aa;
	    			color: rgba(240,245,250,.6);
					font: normal normal normal 14px/1 "Black Tie";
				}
				
				span, span:before, span:after {
					color: #fff !important;
					text-transform: uppercase;
				}				
			}
			
			&:hover, &.hover {
				
				background: none !important;
				
				a.ab-item {
					background: #526a85 !important;
					color: #fff !important;
										
					span, span:before, span:after {
						color: #fff !important;
					}

					i {
						color:#00b9eb;
					}
					
				}	
				
				ul {
					background: #526a85 !important;
					color: #fff !important;
					
					a {
						padding: .5em 14px .5em  14px;
						text-transform: none;
						&:hover {
							background: darken(#526a85, 10) !important;
						}
					}
					
				}
				
				&.bc-wl-dash-logo {
					background: none !important;
					a {
						background: none !important;
					}
				}		
			}
		}

		#wp-admin-bar-wp-logo {
			display: block;
			padding:4px;

			a.ab-item {
				padding:10px;
			}
			
			#admin-bar-logo {
				max-height: 30px;
				width: auto;
			}
		}
	}
}